<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<h1>Contatos</h1>
<hr>

<a href="/formContato"><button type="button" class="btn btn-success">Incluir</button></a>

<table class="table">
<thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Rede Socialll</th>
    </tr>
</thead>
    <% contato.forEach(function(item){ %>
    <tr>
        <th scope="row"><%= item.id %></th>
        <th scope="row"><%= item.nome %></th>
        <th scope="row"><%= item.email %></th>
        <th scope="row"><%= item.telefone%></th>
        <th scope="row"><%= item.rede_social%></th>
        <td>
            <a href="/atualizarContato?id=<%= item.id %>"><button type="button" class="btn btn-info">Atualizar</button></a>
        </td>
        <td>
            <a href="/excluirContato?id=<%= item.id %>" onClick="return confirm('Confirma a exclusão?')"><button type="button" class="btn btn-danger">Excluir</button></a>
        </td>
    </tr>
    <% }) %>
</table>